/*TimetableGridのほう*/
.timetable-grid {
  display: grid;
}

/* スマホ用に幅変更 */
@media screen and (max-width: 767px) {
  .timetable-grid {
    grid-template-columns: 50px 1fr 1fr; /* 左50px、右の列を拡大 */
  }
}

.venue-column {
  background-color: #fff;
  border-left: 1px solid #ccc;
  position: relative;
}

.timetable-header {
  background: #f0f0f0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
  border: none;
}

.time-col {
  text-align: center;
  border: none;
  padding: 0.5rem;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  height: 180px;
  width: 80px;
  min-width: 80px;
  font-weight: bold;
  text-align: right;
  position: relative;
  top: -100px;
}

/* 📱スマホ（767px以下） */
@media screen and (max-width: 767px) {
  .time-col {
    width: 40px;
    min-width: 50px;
    font-size: 12px;
    padding-right: 4px;
  }
}

.grid-cell {
  position: relative;
  height: 180px;
  border: none;
  background-color: #fff;
  border-right: none;
  border-right: none;
  width: calc(50% - xxpx);
}

/*　イベントボックス関連*/
.event-box {
  position: absolute;
  left: 4px;
  right: 4px;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
  text-align: center;
}

.event-box.gym {
  background-color: #ffe8ad;
  border: 1px solid #ffb700;
}

.event-box.outdoor {
  background-color: #ffb0ed;
  border: 1px solid #ff59d9;
}

.event-box.gym:hover {
  background-color: #ffb700;
}

.event-box.outdoor:hover {
  background-color: #ff59d9;
}

.venue-column,
.grid-cell {
  position: relative;
  overflow: hidden;
}






/*ScheduleTableのほう */
.schedule-table-wrapper {
  padding: 1rem;
}

/* タブ */
.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab-button {
  padding: 0.5rem 1rem;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.tab-button:hover{
  background: #ddd;
}

.tab-button.active {
  background: #ddd;
  font-weight: bold;
}

/**　モーダル（出てくるやつ）*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.detail{
  font-size: 20px;
}